.HotelCard {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  height: 175px;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(211, 211, 211);
  padding: 2.5px 2.5px;
  transition: all 1s;
  margin: 5px;
}

.HotelCard img {
  height: 175px;
  width: 100%;
}
