.Toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #dc140a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 90;
}

.Menu {
  justify-self: flex-start;
}

.Logo {
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .Toolbar {
    height: 50px;
    padding: 12px;
  }
  .Logo {
    display: block;
    height: 50px;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .Toolbar {
    height: 80px;
  }
}

@media (min-width: 992px) {
  .Toolbar {
    height: 90px;
  }

  .Logo {
    padding: 0 40px;
  }
}
