.HamBurgerMenu {
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid white;
  padding: 6px;
  border-radius: 7px;
  color: white;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  border: #e97c76 1px solid;
}

@media (min-width: 769px) {
  .HamBurgerMenu {
    display: none;
  }
}
