body {
  font-family: "Roboto", Arial, sans-serif;
  background: #dc140a;
  font-size: 13px;
  line-height: 130%;
  color: #646464;
  font-variant-ligatures: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
